<html>
<head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109130391-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109130391-1');
</script>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

<meta name="title" content="Start Designing T-Shirts Online - TeeShopper">
<meta name="description" content="Create your own design for t-shirts, hoodies, mobile cases in our designing studio and sell online without any hassles at zero cost.">
<meta name="keywords" content="custom design, start ecommerce, start fashion ecommerce, online designing, sell online, create design, custom tshirt, teespring india, tshirt designing online, tshirt designing, dropshipping india, teespring, mydreamstore, bonfire, teemill, spreadshirt, cheapest t-shirt">
<meta property="og:image" content="https://teeshopper.in/img/banner.png"/>
<meta property="og:title" content="Start Designing T-Shirts Online - TeeShopper" />
<meta property="og:description" content="Create your own design for t-shirts, hoodies, mobile cases in our designing studio and sell online without any hassles at zero cost." />
<meta property="og:image" content="https://teeshopper.in/img/banner.png"/>
<meta property="og:image:secure_url" content="https://teeshopper.in/img/banner.png" />
<meta property="og:url" content="https://teeshopper.in/" />
<link rel="shortcut icon" type="image/png" href="img/icon.png"/>
<link rel="stylesheet" href="/assetAdmin/admin/css/styles.min.css" />
<link rel="image_src" type="image/png" href="https://teeshopper.in/img/banner.png"/>
<meta name="theme-color" content="#ee2761" />
<style type="text/css">
@font-face {
  font-family: 'Days28Later';
  src: url('css/28_Days_Later.ttf') format('truetype');
}
@font-face {
  font-family: 'Base02';
  src: URL('css/Base_02.ttf') format('truetype');
}
@font-face {
  font-family: 'Distress';
  src: URL('css/Distress.ttf') format('truetype');
}
hr {
  border:none;
  color:#bfff80;
  background-color:#bfff80;
  display:none;
}
.btn:focus,.btn:active {
   outline: none !important;
}
.btn-default:focus{
background-color:#fff !important;
}
#fontFamilyBox > p:hover{
background:#f2f2f2;
margin:0px;
border-radius:5px;
}
#fontFamilyBox > p{
padding:5px;
font-size:16px;
margin:0px;
}
.DroidSerif{
font-family:Droid Serif, serif;
}
.Lora{
font-family:Lora, serif;
}
.Cinzel{
font-family: Cinzel, serif;
}
.Manuale{
font-family: Manuale, serif;
}
.PTSerif{
font-family: PT Serif, serif;
}
.DroidSerif{
font-family: Droid Serif, serif;
}
.Lato{
font-family: Lato, sans-serif;
}
.OpenSans{
font-family: Open Sans, sans-serif;
}
.Raleway{
font-family: Raleway, sans-serif;
}
.Anton{
font-family: Anton, sans-serif;
}
.Orbitron{
font-family: Orbitron, sans-serif;
}
.AbrilFatface{
font-family: Abril Fatface, cursive;
}
.Audiowide{
font-family: Audiowide, cursive;
}
.Comfortaa{
font-family: Comfortaa, cursive;
}
.Righteous{
font-family: Righteous, cursive;
}
.Frijole{
font-family: Frijole, cursive;
}
.GloriaHallelujah{
font-family: Gloria Hallelujah, cursive;
}
.PermanentMarker{
font-family: Permanent Marker, cursive;
}
.SedgwickAveDisplay{
font-family: Sedgwick Ave Display, cursive;
}
.RockSalt{
font-family: Rock Salt, cursive;
}
.CraftyGirls{
font-family: Crafty Girls, cursive;
}
.RobotoMono{
font-family: Roboto Mono, monospace;
}
.SourceCodePro{
font-family: Source Code Pro, monospace;
}
.ShareTechMono{
font-family: Share Tech Mono, monospace;
}
.NovaMono{
font-family: Nova Mono, monospace;
}
.UbuntuMono{
font-family: Ubuntu Mono, monospace;
}
.LondrinaOutline{
font-family: Londrina Outline, cursive;
}
.Monoton{
font-family: Monoton, cursive;
}
.Quicksand{
font-family: Quicksand, sans-serif;
}

.Rye{
font-family: Rye, cursive;
}
.FasterOne{
font-family: Faster One, cursive;
}
.Eater{
font-family: Eater, cursive;
}
.Nosifer{
font-family: Nosifer, cursive;
}
.Ewert{
font-family: Ewert, cursive;
}
.CinzelDecorative{
font-family: Cinzel Decorative, cursive;
}

.Economica{
font-family: Economica, cursive;
}
.JuliusSansOne{
font-family: Julius Sans One, cursive;
}
.BlackAndWhitePicture{
font-family: Black And White Picture, cursive;
}
.Notable{
font-family: Notable, cursive;
}
.MeriendaOne{
font-family: Merienda One, cursive;
}
.Bonbon{
font-family: Bonbon, cursive;
}
.MajorMonoDisplay{
font-family: Major Mono Display, monospace;
}
.VT323{
font-family: VT323, monospace;
}
.Lobster{
font-family: Lobster, cursive;
}
.SeaweedScript{
font-family: Seaweed Script, cursive;
}
.UnifrakturMaguntia{
font-family: UnifrakturMaguntia, monospace;
}
.Butcherman{
font-family: Butcherman, monospace;
}
.Ultra{
font-family: Ultra, serif;
}
.MarkoOne{
font-family: Marko One, serif;
}
.Pattaya{
font-family: Pattaya, monospace;
}
.Timmana{
font-family: Timmana, serif;
}
.RumRaisin{
font-family: Rum Raisin, serif;
}
.MrDafoe{
font-family: Mr Dafoe, cursive;
}
.Base02{
font-family: Base02;
}
.Days28Later{
font-family: Days28Later;
}
.Distress{
font-family: Distress;
}
.Montserrat{
font-family: Montserrat, sans-serif;
}
.RubikGlitch{
font-family: Rubik Glitch, cursive;    
}

.x2{
		transform: scale(6,6);
	}
#product_color_chooser > div{
display:inline-block;
width:30px;
height:30px;
border-radius:50%;
margin:5px;
border: 2px solid #fff;
 position:relative;
box-shadow: 0 0 0 1px grey;
}	

#choose_product_color > div{
display:inline-block;
width:30px;
height:30px;
border-radius:50%;
margin:5px;
position:relative;
box-shadow: 0 0 0 1px grey;
border:2px solid #fff;
}
.btn-toggle{
background:#737373;
color:#fff;
}
.btn-toggle:hover{
background:#737373;
color:#fff;
}
#addText{
background:#e8666d; 
border-color:#e8666d;
font-size:15px;
}
#addText:hover{
background:#de212b;
border-color:#de212b;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
#pdescription:focus,
#chooseProduct:focus,
.uneditable-input:focus {   
  border-color: rgba(232, 102, 109, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(232, 102, 109, 0.6);
  outline: 0 none;
}
.inline_block{
display:inline-block;
}
.modal{
   overflow:auto !important;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #de212b;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #de212b;
  cursor: pointer;
}
.newText > p > font > span > span{
border-radius:5px;
}
.art {
padding:20px;
transition: transform 1s;
}

.art:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}
.productCard{
padding:10px;    
transition: transform 0.5s;    
-webkit-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.75);
box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.75);
display:inline-block;
border-radius:10px;
}
.productCard:hover{   
-ms-transform: scale(1.05); /* IE 9 */
-webkit-transform: scale(1.05); /* Safari 3-8 */
transform: scale(1.05);
}
.select-product-btn{
width: 90%; 
margin-top:15px; 
border: 1px solid #cccccc;
color: #333;
margin-bottom: 10px !important;    
}
</style>
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Cinzel|Droid+Serif|Lora|Manuale|PT+Serif|Marko+One|Ultra&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/tags.css" type="text/css">
<link rel="manifest" href="/manifest.json" />
</head>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Montserrat" rel="stylesheet">
<style type="text/css">
/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-menu li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
	font-size:13px;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-menu li a:hover {color: #ee2761}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #e5e5e5;
}
.navbar-default {
    background-color: #FFF !important;
    border-color: #E7E7E7 !important;
}
.dropdown > a, .dropdown-menu > li > a{
font-size:14px;
}
.form-control:focus{ 
  border-color: rgba(232, 102, 109, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(232, 102, 109, 0.6);
  outline: 0 none;
}
.no-border:focus{
      border-bottom: 1px solid #ee2761;
  box-shadow: none;
  outline: 0 none;
}
h3,h4,h5,h2,h1,p,a,button,label,input,textarea,select,td,th,li,li>a,div>a{
font-family: Montserrat, sans-serif;
letter-spacing:1px;
}
</style>
<nav class="navbar navbar-default"><div class="container-fluid header_container">
    <div class="navbar-header">  
      <a class="navbar-brand" href="https://teeshopper.in" style="padding-top:10px; margin-left:10px;" onclick="ga('send', 'event', 'Logo', 'Clicked', 'For HomePage');"><img src="img/icon.png?0" style="display:inline-block; height:28px;"><span style="display: inline-block;"><b>eeShopper</b></span></a>
      
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="margin-right:5%; border:none;"> 
      <span class="icon-bar" style="background:#ee2761;"></span>
      <span class="icon-bar" style="background:#ee2761;"></span>
      <span class="icon-bar" style="background:#ee2761;"></span>
    </button> 
    <div style="position:absolute; right:70px; top:10px; display:none;"  class="cart-button-mobile">
    <span class="badge badge-success cartItems" style="margin-top:-17px; margin-right:-7px; background:#ffc70e; position:relative;">0</span><a href="shopping_cart"  style="padding-top:0px;" class="shopping_cart"><img src="img/shopping_cart.png" style="width:22px !important; "> </a>
    </div>
    </div>



	<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right" style="margin-right:2%; margin-left:0px;">
<li><form class="navbar-form" role="search" action="search" method="get">
        <div class="input-group">
            <input type="text" class="form-control uneditable-input" placeholder="Search" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" style="margin:0px;"><i class="glyphicon glyphicon-search" style="font-size: 20px; color:#ee2761;"></i></button>
            </div>
        </div>
        </form></li>		<li><a href="premium" onclick="ga('send', 'event', 'Premium Href', 'Clicked', 'Premium Href');" class="premium-button"><i class="glyphicon glyphicon-star" style="color:#ff3f6c"></i> Go Premium</a></li>
		<li><a href="design" onclick="ga('send', 'event', 'Design Href', 'Clicked', 'Design Href');" style="font-size:15px;">Start Designing</a></li>
			  <li><a href="login" onclick="ga('send', 'event', 'My Account', 'Clicked', 'My Account Header');" style="font-size:15px; color:#ee2761;">My Account</a></li>
	  <li class="cart-button-pc"><span class="badge badge-success cartItems" style="margin-top:5px; background:#ffc70e; position:relative; display:none;">0</span><a href="shopping_cart" style="padding-top:0px;" class="shopping_cart"><img src="img/shopping_cart.png" style="width:22px !important; "> </a></li>
	  </ul>
	</div>
  </div>
</nav><script src="https://teeshopper.in/js/jquery-latest.js"></script>
<script>
if($( ".collapse" ).is( ":visible" )){
$(".cart-button-mobile").css('display','none');
$(".cart-button-pc").css('display','');
}else{
$(".cart-button-pc").css('display','none');     
$(".cart-button-mobile").css('display','');
}
var retrievedCart = localStorage.getItem('cart');
var json = JSON.parse(retrievedCart);
if(json != null){
 $(".cartItems").html(json.length);
if(json.length > 0){
        $(".cartItems").css('display','');
        $(".shopping_cart").css('margin-top','-10px');
    }else{
         $(".cartItems").css('display','none');
         $(".shopping_cart").css('margin-top','10px');
    }   
}else{
    $(".cartItems").css('display','none');
         $(".shopping_cart").css('margin-top','10px');
}
$(window).resize(function(){
if($( ".collapse" ).is( ":visible" )){
$(".cart-button-mobile").css('display','none');
$(".cart-button-pc").css('display','');
}else{
$(".cart-button-pc").css('display','none');     
$(".cart-button-mobile").css('display','');
}
});
</script>
<title>Start Designing T-Shirts Online - TeeShopper</title>
<body style="padding-right: 0px;">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11&appId=1568265876563306';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
<div class="row">
<div class="col-lg-4 col-md-4" style="padding-right:30px">
<div id="inputs">
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#text" style="">Add Text</a></li>
    <li><a data-toggle="tab" href="#img" style="">Browse Art</a></li>
  </ul>
  
  <div class="tab-content" style="margin-bottom:5px;">
    <div id="text" class="tab-pane fade in active">
	<br/>
<button id="addText" class="btn btn-primary btn-block">Add Text</button>
<br/>
<input type="text" id="changeText" class="form-control" placeholder="Write Your Text Here"/>
<br/>
<div class="row">
<div class="col-sm-8 col-md-8">
<input id="colorChooser" class="jscolor {onFineChange:'setTextColor(this)'} form-control" value="000000">
</div>
<div class="col-sm-4 col-md-4">
<select id="fontSize" class="form-control">
<option>12px</option>
<option>14px</option>
<option>16px</option>
<option>18px</option>
<option>20px</option>
<option>22px</option>
<option>24px</option>
<option>26px</option>
<option>28px</option>
<option>30px</option>
<option>32px</option>
<option>34px</option>
<option>36px</option>
<option>38px</option>
<option>40px</option>
<option>42px</option>
<option>44px</option>
<option>46px</option>
<option>48px</option>
<option>50px</option>
<option>55px</option>
<option>60px</option>
<option>65px</option>
<option>70px</option>
<option>75px</option>
<option>80px</option>
</select>
</div>
</div>
<br/>
<div class="row">
<div class="col-sm-8 col-md-8">
<div class="well well-sm" id="fontFamilySel">Font</div>
</div>
<div class="col-sm-4 col-md-4">
<button id="bold" ontype="false" class="btn btn-default"><b>B</b></button>
<button id="italics" ontype="false" class="btn btn-default"><i>I</i></button>
</div>
</div>
<div id="more_design_tool" class="collapse">
<label for="textPadding" style="">Choose Background Color & Padding</label>
<div class="row">
<div class="col-sm-8 col-md-8">
<select class="form-control" id="textPadding">
<option>No Background</option>
<option>0px</option>
<option>2px</option>
<option>3px</option>
<option>4px</option>
<option>5px</option>
<option>6px</option>
<option>7px</option>
<option>8px</option>
<option>9px</option>
<option>10px</option>
</select>
</div>
<div class="col-sm-4 col-md-4">
<input id="backgroundColorChooser" class="jscolor {onFineChange:'setTextOutlineColor(this)'} form-control" value="000000">
</div>
</div>
<br/>
<label for="slidecontainer" style="font-family: Source Sans Pro, sans-serif;">Rotate</label>
<div class="row">
<div class="col-sm-8 col-md-8">
<div class="slidecontainer" id="slidecontainer" style="margin-top:10px;">
  <input type="range" min="-180" max="180" value="0" class="slider" id="myRange">
</div>
</div>
<div class="col-sm-4 col-md-4">
  <input type="text" id="rotate_val" class="form-control" value="0"/>
</div>
</div>
<br/>

<label for="slidecontainer_textspacing" style="font-family: Source Sans Pro, sans-serif;">Letter Spacing</label>
<div class="row">
<div class="col-sm-8 col-md-8">
<div class="slidecontainer" id="slidecontainer_textspacing" style="margin-top:10px;">
  <input type="range" min="-50" max="50" value="0" class="slider" id="myRange_textspacing">
</div>
</div>
<div class="col-sm-4 col-md-4">
  <input type="text" id="rotate_val_textspacing" class="form-control" value="0"/>
</div>
</div>
<div class="row" style="display:none;">
<div class="col-sm-8 col-md-8">
<div style="margin-top: 20px;">
<label style="font-family: Source Sans Pro, sans-serif;">Snapping</label>
</div>
</div>
<div class="col-sm-4 col-md-4" style="margin-top:20px;">
  <select class="form-control" id="snapping_checkbox">
<option>Yes</option>
<option>No</option>
</select>
</div>
</div>
<br/>

</div>
<center><a href="#more_design_tool" data-toggle="collapse" style="color:#ff3f6c; text-decoration:none;" id="more_design_tool_href"><span class="glyphicon glyphicon-chevron-down"></span> More Tools</a></center>
<br/>
    </div>
    <div id="img" class="tab-pane fade">
	<br/>
      <input type="file" id="addImage" class="form-control"></input>
      <br/>
	  <center><button id="chooseArt" class="btn btn-success btn-block" data-toggle="modal" data-target="#artwork"><i class="glyphicon glyphicon-picture"></i> Browse Artwork</button></center>
	  <br/>
	  <br/>
    </div>
  </div>
  
</div>
<button type="button" class="btn btn-danger" id="delElem" style="display: none; margin-bottom: 20px;">Delete <i style="color:#fff; margin-left:5px;" class="glyphicon glyphicon-trash"></i></button>
<button id="screenshot" style="display:none;">Screenshot</button>
<!-- design_sidebar -->
<!--
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5341744464840551"
     data-ad-slot="1724713931"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br/><br/>-->
</div>
<div class="col-lg-5 col-md-5" id="product" style="position:relative; background-color: #ffffff; background-image: url('product_img/tshirt_front.png'); background-position: center center; background-repeat: no-repeat; height:600px; width:485px; background-size:cover;">
<hr style="top:40%; left:0%; width:100%; height:0.03em; position:absolute;" data-html2canvas-ignore="true"></hr>
<hr style="top:-3%; left:50%; width:1px; height:100%; position:absolute;" data-html2canvas-ignore="true"></hr>
<div id="productDiv" style="overflow:hidden; position:absolute; border:1px solid transparent; width:210px; height:270px; top:110px; left:135px;" onmouseover="showLines()" onmouseleave="hideLines()">

</div>
</div>
<!--tshirt(height 300, top 110, width 219, left:115) | hoodie(height 200, top 150, width 210, left 120) | polo(height 280, top 180, width 210, left 130)-->
<div class="col-lg-3 col-md-3" style="padding-left:30px">
<select id="chooseProduct" class="form-control" onmousedown="(function(e){ e.preventDefault(); })(event, this)" onClick="javascript:$('#productModal').modal('show');">
<option value="T-Shirt">Unisex T-Shirt</option>
<!-- <option value="Polo T-Shirt">Polo T-Shirt</option> -->
<option value="Full Sleeve Tee">Full Sleeve Tee</option>
<option value="Unisex Tank Top">Unisex Tank Top</option>
<option value="V-Neck Tee">V-Neck Tee</option>
<option value="Women's Tee">Women's Tee</option>
<option value="Women's Full Sleeve Tee">Women's Full Sleeve Tee</option>
<option value="Hoodie">Unisex Hoodie</option>
<option value="Sweatshirt">Unisex Sweatshirt</option>
<option value="Kid's T-Shirt">Kid's T-Shirt</option>
<option value="Throw Pillow">Throw Pillow</option>
<option value="Oversized T-Shirt">Oversized T-Shirt</option>
<option value="Joggers">Joggers</option>
</select>
<br/>
<div id="product_color_chooser">
<div style="background:#ffffff; box-shadow: 0 0 0 1px #e8666d;"></div>
<div style="background:#5f0202;"></div>
<div style="background:#1e1f21;"></div>
<div style="background:#787971;"></div>
<div style="background:#2638b4;"></div>
<div style="background:#ca1b2c;"></div>
<div style="background:#87ceeb;"></div>
<div style="background:#ffef77;"></div>
<div style="background:#46c262;"></div>
<div style="background:#232742;"></div>
<div style="background:#f490b6"></div>
<div style="background:#bdb0d0;"></div>
<div style="background:#453E2F;"></div>
<div style="background:#f0651b"></div>
<div style="background:#22607C"></div>
</div>
<br/>
<div class="btn-group" id="sideViewOpt">
<button id="frontSide" class="btn btn-toggle">Front</button>
<button id="backSide" class="btn btn-default">Back</button>
</div>
<br/><br/>
<h4 style="color:#808080; margin-bottom:0px;">Base Cost <a href="#" data-toggle="tooltip" title="You can sell this apparel above this base price. This Includes shipping cost."><span class="glyphicon glyphicon-info-sign" style="color:black;"></span></a></h4>
<p id="base_cost" style="margin-top:3px; font-size:20px;display:inline-block;">&#8377;399</p>
<button id="sellThis" class="btn btn-primary btn-block" data-toggle="modal" data-target="#desc" style=" font-size:15px;">Sell This</button><a href="premium" onclick="ga('send', 'event', 'Premium Button', 'Clicked', 'Design Page');" class="btn btn-default btn-block go-premium" target="_blank" style="margin-top:10px; font-size:12px;">Get @ Rs 299</a>
<br/>
<div class="fb-page" data-href="https://www.facebook.com/TeeShopperIndia"  data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/TeeShopperIndia" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TeeShopperIndia">TeeShopper - Design &amp; Sell Online</a></blockquote></div>
</div>
</div>
</div>
<div class="container" class="container-fluid" style="margin:0px; width:100%;">
<br/><br/>
<div class="row" style="background:linear-gradient(90deg, rgba(238,39,97,1) 0%, rgba(255,63,108,1) 60%, rgba(255,63,108,1) 100%); padding:10px; text-align:center;">
<div class="col-lg-6">
<center>
<ul class="list-inline" style="color:#fff;">
  <li><a href="pages/about" style="color:#fff;">About</a></li>
  <li><a href="pages/faq" style="color:#fff;">FAQ</a></li>
  <li><a href="https://teeshopper.in/#name" style="color:#fff;">Contact</a></li>
  <li><a href="https://teeshopper.in/pages/privacy_policy" style="color:#fff;">Privacy Policy</a></li>
  <li><a href="https://teeshopper.in/pages/terms_and_conditions" style="color:#fff;">Terms & Conditions</a></li>
  <li><a href="https://teeshopper.in/pages/track" style="color:#fff;">Track Order</a></li>
</ul>
</center>
</div><div class="col-lg-2">
<center>
<div class="fb-like" data-href="https://www.facebook.com/TeeShopperIndia" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</center>
</div><div class="col-lg-4">
<a href="#" style="color:#fff;">&copy; 2023 TeeShopper. All rights reserved.</a>
</div>
</div></div>
<div class="modal fade" id="fontModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose Font</h4>
      </div>
      <div class="modal-body">
        <select id="fontFamily" class="form-control">
		<option>Serif</option>
		<option>Sans Serif</option>
		<option>Display</option>
		<option>Hand Writing</option>
		<option>Monospace</option>
		</select>
		<div style="padding:10px;" id="fontFamilyBox">
		<p style="font-family: Lora, serif;">Lora</p>
	<p style="font-family: Cinzel, serif;">Cinzel</p>
	<p style="font-family: Manuale, serif;">Manuale</p>
	<p style="font-family: PT Serif, serif;">PT Serif</p>
	<p style="font-family: Droid Serif, serif;">Droid Serif</p>
	<p style="font-family: Marko One, serif;">Mark One</p>
	<p style="font-family: Ultra, serif;">Ultra</p>
	<p style="font-family: Days28Later;">28 Days Later</p>
	<p style="font-family: Base02;">Base 02</p>
	<p style="font-family: Distress;">Distress</p>
		</div>
      </div>
      <div class="modal-footer">
        <span class="form-control-static pull-left"></span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="artwork" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Browse Artwork <a href="https://pixabay.com/" target="_window"><img src="https://pixabay.com/static/img/logo.png" style="float:right; width:100px; margin-top:3px;" alt="Pixabay"/></a></h4>
      </div>
      <div class="modal-body">
  <div class="input-group">
   <input type="text" class="form-control" placeholder="Rose, Car, Heart, Birthday, Emoji etc" id="art_search_box">
   <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="search_art()" id="art_search_btn">Search</button>
   </span>
</div>
<br/>
        <div class="row">
		<div class="col-lg-3">
<div class="list-group">
  <a href="#" class="list-group-item all active">All</a>
  <a href="#" class="list-group-item animals">Animals</a>
  <a href="#" class="list-group-item backgrounds">Backgrounds</a>
  <a href="#" class="list-group-item fashion">Beauty/Fashion</a>
  <a href="#" class="list-group-item business">Business</a>
  <a href="#" class="list-group-item education">Education</a>
  <a href="#" class="list-group-item food">Food</a>
  <a href="#" class="list-group-item health">Health/Medical</a>
  <a href="#" class="list-group-item industry">Industry/Craft</a>
  <a href="#" class="list-group-item music">Music</a>
  <a href="#" class="list-group-item nature">Nature</a>
  <a href="#" class="list-group-item people">People</a>
  <a href="#" class="list-group-item places">Places</a>
  <a href="#" class="list-group-item religion">Religion</a>
  <a href="#" class="list-group-item science">Science</a>
  <a href="#" class="list-group-item sports">Sports</a>
  <a href="#" class="list-group-item travel">Travel</a>
</div>
		</div>
		<div class="col-lg-9 search_art_res">
		
		</div>
		</div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="desc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Product Details</h4>
      </div>
      <div class="modal-body">
        <label for="ptitle">Title <a href="#" data-toggle="tooltip" title="A Good Title can rank up your design in Google search."><span class="glyphicon glyphicon-info-sign" style="color:black;"></span></a></label>
		<input type="text" id="ptitle" class="form-control" placeholder="Your Design Name | Half Sleeve T-Shirt" style=""/>
		<br/>
		<label for="pdescription">Description</label>
		<textarea id="pdescription" class="form-control" placeholder="Tell more about your design and product. It will be visible to buyer so make it interesting and catchy. (Max 400 letters, 2 Lines minimum)" style=""></textarea>
		<br/>
		<label for="my-tag-list">Search Keywords (Max 5) <small>Press enter after writing your tag. <a href="https://teeshopper.in/blog/how-to-add-tag-to-your-product-design/" target="_blank">Help?</a></small></label>
		<div id="my-tag-list" class="tag-list" style=""></div>
		<label for="choose_product_color">Choose Colors <a href="#" data-toggle="tooltip" title="Choose colors for your product so that buyers can have multiple color option. You can select only one color also."><span class="glyphicon glyphicon-info-sign" style="color:black;"></span></a></label>
		<div class="row">
		<div class="col-lg-6 col-md-6">
		<div id="choose_product_color">
<div style="background:#ffffff;" choosen="false"></div>
<div style="background:#7e273a;" choosen="false"></div>
<div style="background:#1e1f21;" choosen="false"></div>
<div style="background:#787971;" choosen="false"></div>
<div style="background:#2638b4;" choosen="false"></div>
<div style="background:#ca1b2c;" choosen="false"></div>
<div style="background:#2995f8;" choosen="false"></div>
<div style="background:#ffef77;" choosen="false"></div>
<div style="background:#46c262;" choosen="false"></div>
<div style="background:#232742;" choosen="false"></div>
<div style="background:#f490b6;" choosen="false"></div>
<div style="background:#bdb0d0;" choosen="false"></div>
<div style="background:#453E2F;" choosen="false"></div>
<div style="background:#F0651B;" choosen="false"></div>
</div>
</div>
<div class="col-lg-6 col-md-6" id="product_color_demo">

</div>
</div>
<br/>
		<label for="chooseUrlInput">Choose Your Product URL <a href="#" data-toggle="tooltip" title="This will be the link where you will send buyers to view and buy product."><span class="glyphicon glyphicon-info-sign" style="color:black;"></span></a></label>
		<div class="input-group" id="chooseUrlInput">
    <span class="input-group-addon">https://teeshopper.in/products/</span>
    <input id="chooseUrl" type="text" class="form-control" placeholder="rockstar-tshirt-design"/>
	<span class="input-group-addon" id="urlOkey">&#x2717; Empty</span>
  </div>
		<br/>
		<div class="row">
		<div class="col-lg-3 col-md-3">
		<div class="table-responsive">
		<table class="table">
		<tr><td>Base Price</td></tr>
		<tr><td><p id="basePrice">&#8377;399/-</p></td></tr>
		</table>
		</div>
		</div>
		<div class="col-lg-4 col-md-4">
		<div class="table-responsive">
		<table class="table">
		<tr><td>Markup Price <a href="#" data-toggle="tooltip" title="Set price as per your effort you put for this product design. Your profit will be whatever amount you set above base price that is (Markup Price - Base Price)."><span class="glyphicon glyphicon-info-sign" style="color:black;"></span></a></td></tr>
		<tr><td><input type="number" class="form-control" placeholder="Write above Base Price" id="markupPrice"/></td></tr>
		</table>
		</div>
		</div>
		<div class="col-lg-4 col-md-4">
		<div class="table-responsive">
		<table class="table">
		<tr><td>Selling Price <a href="#" data-toggle="tooltip" title="This is final selling price (GST Inclusive). It will not affect your profit."><span class="glyphicon glyphicon-info-sign" style="color:black;"></span></a></td></tr>
		<tr><td><p id="sellingPrice">&#8377;0/-</p></td></tr>
		</table>
		</div>
		</div>
		</div>
		
		<center><p id="profitEstimate">Your Profit estimate &#8377;0 per sale.</p></center>
      </div>
      <div class="modal-footer">
        <span class="form-control-static pull-left"><span id="statustxt1"></span></span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveProductDesign">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div id="noMobile" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">We&#39;re Sorry!</h4>
      </div>
      <div class="modal-body">
        <p>TeeShopper Designing Studio is best experienced on a <b>desktop/Laptop</b>.<br/><br/>
		We are launching our Android app soon, fill in the details to get notified :)<br/> Till then, kindly do the designing work on your desktop/Laptop.</p>
		<br/>
		<label>Email</label>
		<input type="email" placeholder="Email" class="form-control user_email"/>
		<br/>
		<label>Phone Number</label>
		<input type="number" placeholder="Phone Number" class="form-control user_phone_number"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="pre-app-launch-submit" style="background:#ff3f6c; color:#fff; border:none;">Submit</button>
      </div>
    </div>
  </div>
</div>
<div id="wait" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Wait</h4>
      </div>
      <div class="modal-body">
        <p>Processing...</p>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <center><div class="modal-dialog" role="document" style="width:100%; margin:0px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose Product</h4>
      </div>
      <div class="modal-body">
          <div class="container" style="padding-top:20px; padding-left:10px; padding-right:10px; padding-bottom:20px;">
  <div class="row">
    <div class="col-md-3">
      <div class="productCard">
          <center>
          <img src="product_img/hsrn_tshirt_front.png" style="width:200px;"/>
          </center>
          <p style="margin:0 0 5px">Unisex Half Sleeve T-Shirt</p>
          <span style="font-size: 10px; color: #afafaf;">Slim fit, 100% Combed Ringspun Cotton, Bio-wash</span><br/>
          <button type="button" class="btn btn-default btn-sm select-product-btn" onClick="chooseProduct('T-Shirt')">Select</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="productCard">
          <center>
          <img src="product_img/women_tee.png" style="width:200px;"/>
          </center>
          <p style="margin:0 0 5px">Women's Half Sleeve T-Shirt</p>
          <span style="font-size: 10px; color: #afafaf;">Slim fit, 100% Combed Ringspun Cotton, Bio-wash</span><br/>
          <button type="button" class="btn btn-default btn-sm select-product-btn" onClick="chooseProduct('Women\'s Tee')">Select</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="productCard">
          <center>
          <img src="product_img/full_sleeve_front_new.png" style="width:200px;"/>
          </center>
          <p style="margin:0 0 5px">Full Sleeve T-Shirt</p>
          <span style="font-size: 10px; color: #afafaf;">Classic fit, 100% Combed Ringspun Cotton, Bio-wash</span><br/>
         <button type="button" class="btn btn-default btn-sm select-product-btn" onClick="chooseProduct('Full Sleeve Tee')">Select</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="productCard">
          <center>
          <img src="product_img/women_full_sleeve_front.png" style="width:200px;"/>
          </center>
          <p style="margin:0 0 5px">Women's Full Sleeve T-Shirt</p>
          <span style="font-size: 10px; color: #afafaf;">Classic fit, 100% Combed Ringspun Cotton, Bio-wash</span><br/>
          <button type="button" class="btn btn-default btn-sm select-product-btn" onClick="chooseProduct('Women\'s Full Sleeve Tee')">Select</button>
      </div>
    </div>
  </div>
  
  <br/><br/>
  
  <div class="row">
    <div class="col-md-3">
      <div class="productCard">
          <center>
          <img src="product_img/v_neck_front.png" style="width:200px;"/>
          </center>
          <p style="margin:0 0 5px">V-Neck Half Sleeve T-Shirt</p>
          <span style="font-size: 10px; color: #afafaf;">Slim fit, 100% Combed Ringspun Cotton, Bio-wash</span><br/>
          <button type="button" class="btn btn-default btn-sm select-product-btn" onClick="chooseProduct('V-Neck Tee')">Select</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="productCard">
          <center>
          <img src="product_img/hoodie_front.png" style="width:200px;"/>
          </center>
          <p style="margin:0 0 5px">Unisex Hoodie</p>
          <span style="font-size: 10px; color: #afafaf;">Relaxed fit, 80% Combed Ringspun Cotton, Bio-wash</span><br/>
          <button type="button" class="btn btn-default btn-sm select-product-btn" onClick="chooseProduct('Hoodie')">Select</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="productCard">
          <center>
          <img src="product_img/sweatshirt_front.png" style="width:200px;"/>
          </center>
          <p style="margin:0 0 5px">Unisex Sweatshirt</p>
          <span style="font-size: 10px; color: #afafaf;">Relaxed fit, 80% Combed Ringspun Cotton, Bio-wash</span><br/>
          <button type="button" class="btn btn-default btn-sm select-product-btn" onClick="chooseProduct('Sweatshirt')">Select</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="productCard">
          <center>
          <img src="product_img/tank_front.png" style="width:200px;"/>
          </center>
          <p style="margin:0 0 5px">Unisex Tank Top</p>
          <span style="font-size: 10px; color: #afafaf;">Classic fit, 100% Combed Ringspun Cotton, Bio-wash</span><br/>
          <button type="button" class="btn btn-default btn-sm select-product-btn" onClick="chooseProduct('Unisex Tank Top')">Select</button>
      </div>
    </div>
  </div>
  
  <br/><br/>
  
  <div class="row">
    <div class="col-md-3">
      <div class="productCard">
          <center>
          <img src="product_img/kids_front.png" style="width:200px;"/>
          </center>
          <p style="margin:0 0 5px">Kid's Half Sleeve T-Shirt</p>
          <span style="font-size: 10px; color: #afafaf;">Relaxed fit, 100% Combed Ringspun Cotton, Bio-wash</span><br/>
          <button type="button" class="btn btn-default btn-sm select-product-btn" onClick="chooseProduct('Kid\'s T-Shirt')">Select</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="productCard">
          <center>
          <img src="product_img/oversize_tshirt_front.png" style="width:200px;"/>
          </center>
          <p style="margin:0 0 5px">Oversized T-Shirt</p>
          <span style="font-size: 10px; color: #afafaf;">Classic fit, 100% Combed Ringspun Cotton, Bio-wash</span><br/>
          <button type="button" class="btn btn-default btn-sm select-product-btn" onClick="chooseProduct('Oversized T-Shirt')">Select</button>
      </div>
    </div>
     <div class="col-md-3">
      <div class="productCard">
          <center>
          <img src="product_img/joggers_front.png" style="width:200px;"/>
          </center>
          <p style="margin:0 0 5px">Joggers</p>
          <span style="font-size: 10px; color: #afafaf;">Regular fit, 100% Combed Ringspun Cotton, Bio-wash</span><br/>
          <button type="button" class="btn btn-default btn-sm select-product-btn" onClick="chooseProduct('Joggers')">Select</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="productCard">
          <center>
          <img src="product_img/throw_pillow.png" style="width:200px;"/>
          </center>
          <p style="margin:0 0 5px">Throw Pillow</p>
          <span style="font-size: 10px; color: #afafaf;">100% Polyester</span><br/>
          <button type="button" class="btn btn-default btn-sm select-product-btn" onClick="chooseProduct('Throw Pillow')">Select</button>
      </div>
    </div>
  </div>
</div>
      </div>
      </div
      </div>
      </div>
      </center>
      </div>

<div id="upgradingServer" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Upgrading Server 🔥🔥</h4>
      </div>
      <div class="modal-body">
        <p>Hi, we are upgrading our server for higher and faster performace ⚡⚡<br/>
		Therefore, we are not accepting new designs right now.<br/><br/> Kindly come back after 12 hours 😃</p>
		<br/>
      </div>
      <div class="modal-footer">
        <a href="index"><button type="button" class="btn btn-success" style="background:#ff3f6c; color:#fff; border:none;">Got it!</button></a>
      </div>
    </div>
  </div>
</div>

</body>
<script type="text/javascript" src="js/jquery-latest.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/interact.js"></script>
<script type="text/javascript" src="js/html2canvas.min.js"></script>
<script src="js/jscolor.js"></script>
<script type="text/javascript" src="js/tags.js"></script>
<script src="https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>
<script type="text/javascript">
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
}else{
//$("#upgradingServer").modal('show');    
}
var user_id = '-1';
var pro_user = '-1';
var snapPixel = 1;
var half_sleeve_round_neck_cost = 399;
var full_sleeve_round_neck_cost = 499;
var half_sleeve_v_neck_cost = 435;
var hoodie_cost = 799;
var sweatshirt_cost = 699;
var unisex_tank_top_cost = 379;
var kids_tshirt_cost = 379;
var throw_pillow = 349;
var oversized_tshirt_cost = 499;
var joggers_cost = 599;
if(pro_user == 1){
$("#base_cost").html("&#8377;349");
$("#basePrice").html("&#8377;349");
half_sleeve_round_neck_cost = 349;
full_sleeve_round_neck_cost = 449;
half_sleeve_v_neck_cost = 385;
hoodie_cost = 699;
sweatshirt_cost = 649;
unisex_tank_top_cost = 329;
throw_pillow = 299;
kids_tshirt_cost = 329;
oversized_tshirt_cost = 449;
joggers_cost = 549;
}else{
$(".go-premium").css('display','block');
}
</script>
<script type="text/javascript" src="js/design_0_20.js"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
/*
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/59feac59198bd56b8c039509/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
*/
window.onload = function() {
    setTimeout(function() {
        // preload image
        new Image().src = "product_img/tshirt_back.png";
    }, 1000);
    if(pro_user == 1){
$("#8_10_size").click();
}
//$("#more_design_tool").collapse('toggle');
};
jQuery.ajaxSetup({
    cache: false
});
$('#pre-app-launch-submit').click(function() {
var user_email = $(".user_email").val();
var user_phone_number = $(".user_phone_number").val();
if(user_email == "" || user_phone_number == ""){
alert("Kindly leave your email and phone number to inform you.");
return;
}
$(this).attr('disabled','disabled');
$(this).html('Submitting..');
window.location = "https://play.app.goo.gl/?link=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.stopover.store%26referrer%3Dteeshopper";
    $.ajax({
        url: 'pre_app_launch',
        type: 'POST',
        data: {
            email: user_email,
            phone_number: user_phone_number
        },
        success: function(msg) {
            if(msg == "Submitted"){
window.location = "https://play.app.goo.gl/?link=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.stopover.store%26referrer%3Dteeshopper";
			}else if(msg == "Already Exist"){
			alert("We already have your details :)");
			window.location = "https://play.app.goo.gl/?link=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.stopover.store%26referrer%3Dteeshopper";
			}else{
			alert("Something wen't wrong, please try again.");
			window.location = "https://play.app.goo.gl/?link=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.stopover.store%26referrer%3Dteeshopper";
			}
			$('#pre-app-launch-submit').removeAttr('disabled');
$('#pre-app-launch-submit').html('Submit');
        }, error:function(){
alert("Something wen't wrong, please try again.");
			$('#pre-app-launch-submit').removeAttr('disabled');
$('#pre-app-launch-submit').html('Submit');
}		
    });
});
</script>
</html>